.right-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 0;
  width: 710px;
  height: 545px;
}

.edit-wrapper {
  display: flex;
  gap: 10px;
  margin: 90px auto;
  width: 340px;
  height: 545px;
}

.form-box {
  flex: 1;
  background: white;
  padding: 0 10px 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.h2 {
  font-size: 18px;
}

.form-row-inline {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

.form-row-inline label {
  white-space: nowrap;
}

.form-row-inline input {
  flex: 1;
}

.time-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.time-group input {
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row label {
  margin-bottom: 4px;
  font-weight: bold;
}

.form-row input,
.form-row select,
.form-row textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-group button,
.button-group a {
  flex: 1;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(199, 61, 14);
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid white;  
}

.button-group button:hover,
.button-group a:hover {
  background-color: white;
  color: rgb(199, 61, 14);
  border: 1px solid rgb(199, 61, 14);
}

.alert {
  font-size: 15px;
  color: red;
  margin-left: 3px;
}

.alert-note {
  margin-bottom: 10px;
  margin-top: -5px;
}

.alert-section {
  border-color: rgb(238, 72, 17);
  border-radius: 5px;	
  padding: 5px 5px 0 5px;
}

.normal-section {
  border-color: white;
  border-radius: 5px;	
  padding: 5px 5px 0 5px;
  margin-bottom: 40px;
}