.main-content {
  padding: 10px;
}

.image-area {
  display: block;
  background-color: gray;
  background-image: 
  	repeating-linear-gradient(45deg, black, black 1px, transparent 1px, transparent 2px),
  	repeating-linear-gradient(-45deg, black, black 1px, transparent 1px, transparent 2px);
  width: 100vw;
  height: 200px;
}

.tag-area {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.tag {
  padding: 6px 12px;
  background-color: #eee;
  border-radius: 20px; /* 橢圓形 */
  font-size: 14px;
}

.latest-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 標題在左邊 */
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;  
  margin-top: 10px;
}

.latest-header h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0; /* 移除 h2 預設 margin 讓對齊更漂亮 */
}

.latest-header hr {
  width: 60px;
  border: 1px solid #ccc;
  margin: 5px 10px 20px;
}
.video-list-container {
  width: 100%;
  margin: 10px auto;
  background: white;
}

.video-list {	
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
}

.video-card {
  width: 19.3%;
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.video-card img {
  width: 100%;
  border-radius: 5px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  color: #555;
}

.video-description {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.video-title a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.video-title a:hover {
  color: rgb(199, 61, 14);
}

.h2{
	font-size:20px;
    font-weight: bold;
}

.latest {
  display: inline-block; /* 確保可以正確形成橢圓形 */
  background-color: rgb(199, 61, 14);
  color: white;
  padding: 10px 10px; 
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

.badge {
  background-color: #c0c0c0;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  padding: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  vertical-align: middle;
  flex-shrink: 0;
}
