@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.view{
	background: black;
	background-image:url('/images/index.jpg');
	background-size: 100% auto;       /* 讓背景圖覆蓋整個容器 */
  	background-position: top;  /* 圖片置中對齊 */
  	background-repeat: no-repeat; /* 不重複平鋪 */
  	height: 100vh;                /* 高度設為螢幕視窗高度 */
	height: 200px;
  	line-height: 30px;  /* 行高設成跟高度一樣 */
  	text-align: center;  /* 水平置中 */
}

.index{
	background: rgba(0, 0, 0, 0.8);  /* 黑色 50% 透明 */
	width:400px;
	position: fixed;
	top: 200px;
	left: 400px;
	margin: 0;	
}

.h1, .h2{
	color:white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 文字陰影 */
	font-family: "Noto Sans", sans-serif;
}

.h1 {
	  font-family: 'Dancing Script', cursive;
  font-style: normal; /* Dancing Script 本身是草寫風格，不需 italic */
	
}

.h2{
	font-size:20px;
}

.h3{
	color: rgb(241, 241, 241);
	font-size:18px;
	font-family: "Noto Sans", sans-serif;
}

a {
  color: #f6f6f6;
}

a:hover {
  color: rgb(88, 91, 102);
  text-decoration: underline; /* 滑過時加底線 */
}

