.fontstyle{
  	font-family: "Noto Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
  	font-variation-settings:"wdth" 100;
}

.view{
	background: black;
	background-image:url('/images/index.jpg');
	background-size: 100% auto;       /* 讓背景圖覆蓋整個容器 */
  	background-position: top;  /* 圖片置中對齊 */
  	background-repeat: no-repeat; /* 不重複平鋪 */
  	height: 100vh;                /* 高度設為螢幕視窗高度 */
	height: 200px;
  	line-height: 30px;  /* 行高設成跟高度一樣 */
  	text-align: center;  /* 水平置中 */
}

/* 覆蓋層，模糊背景 */
.blur-overlay {
  position: fixed; /* 或 absolute，視需求而定 */
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(216, 240, 216, 0.3); /* 半透明淡綠色遮罩，可調整 */
  backdrop-filter: blur(8px); /* 模糊程度 */
  -webkit-backdrop-filter: blur(8px); /* Safari 支援 */
  pointer-events: none; /* 讓底下元素可操作 */
  z-index: 0;
}

.h1, .h2{
	color:white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 文字陰影 */
}

.h2{
	color:white;
	font-size:20px;
}

a {
  color: #f6f6f6;
  text-decoration: none; /* 取消底線 */
}

a:hover {
  color: gray;
  text-decoration: underline; /* 滑過時加底線 */
}

